In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
from itertools import combinations

In [2]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1086,tt0234215,150000000,738599701,The Matrix Reloaded,Keanu Reeves|Carrie-Anne Moss|Laurence Fishbur...,Lilly Wachowski|Lana Wachowski,Free your mind.,Six months after the events depicted in The Ma...,138,Adventure|Action|Thriller|Science Fiction,Village Roadshow Pictures|NPV Entertainment|He...,5/15/2003,6.6,2003
477,tt1027718,70000000,134748021,Wall Street: Money Never Sleeps,Michael Douglas|Shia LaBeouf|Josh Brolin|Carey...,Oliver Stone,Gordon never gives up.,As the global economy teeters on the brink of ...,133,Drama|Crime,Twentieth Century Fox Film Corporation|Dune En...,9/2/2010,5.8,2010
1257,tt1321511,30000000,4861022,Oldboy,Josh Brolin|Elizabeth Olsen|Samuel L. Jackson|...,Spike Lee,Ask not why you were imprisoned. Ask why you w...,An everyday man has only three and a half days...,104,Drama|Thriller|Mystery|Action,Vertigo Entertainment|40 Acres & A Mule Filmwo...,11/14/2013,6.0,2013
402,tt1245526,58000000,71664962,RED,Bruce Willis|John Malkovich|Helen Mirren|Mary-...,Robert Schwentke,Still armed. Still dangerous. Still got it.,When his peaceful life is threatened by a high...,111,Action|Adventure|Comedy|Crime|Thriller,DC Comics|Di Bonaventura Pictures|Summit Enter...,10/13/2010,6.5,2010
1625,tt0327162,90000000,102000000,The Stepford Wives,Nicole Kidman|Matthew Broderick|Bette Midler|G...,Frank Oz,The wives of Stepford have a secret.,"What does it take to become a Stepford wife, a...",93,Action|Comedy|Science Fiction,Paramount Pictures|De Line Pictures|DreamWorks...,6/10/2004,5.4,2004

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [4]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

In [5]:
# Новый столбец с прибылью каждого фильма
data['profit'] = data['revenue'] - data['budget']

In [6]:
def sep_count(series):
    '''Подсчитывает как часто встречается слово в столбце датафрейма, разделяя слова по "|"'''
    c = Counter()
    for row in series:
        for word in row.split('|'):
            c[word] += 1
    return  c

In [7]:
# Добавление стобца с месяцем релиза
data[['month','day','year']] = data.release_date.str.split('/', expand=True)
del data['day']
del data ['year']

In [8]:
# Добавление стобца с длиной названия
data['title_length'] = data.original_title.apply(lambda x:len(x))

In [9]:
# Добавление стобца с количеством слов в описании
data['word_count_overview'] = data.overview.apply(lambda x:x.count(' ') + 1)

In [10]:
# Создание датафрейма с разбитием строк по жанрам
data_genres = data.copy()
data_genres['genres'] = data_genres.genres.str.split('|')
data_genres = data_genres.explode('genres')

In [11]:
# Создание датафрейма с разбитием строк по режиссерам
data_directors = data.copy()
data_directors['director'] = data_directors.director.str.split('|')
data_directors = data_directors.explode('director')

In [12]:
# Создание датафрейма с разбитием строк по актерам
data_casts = data.copy()
data_casts['cast'] = data_casts.cast.str.split('|')
data_casts = data_casts.explode('cast')

In [13]:
# Создание датафрейма с разбитием строк по киностудиям
data_studios = data.copy()
data_studios['production_companies'] = data_studios.production_companies.str.split('|')
data_studios = data_studios.explode('production_companies')

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [14]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)'  # "+"
# если ответили верно, можете добавить комментарий со значком "+"

In [15]:
data[data['budget'] == data['budget'].max()]['original_title']

723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

# 2. Какой из фильмов самый длительный (в минутах)?

In [16]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '2. Gods and Generals (tt0279111)'  # "+"

In [17]:
data[data['runtime'] == data['runtime'].max()]['original_title']

1157    Gods and Generals
Name: original_title, dtype: object

# 3. Какой из фильмов самый короткий (в минутах)?

In [18]:
answers['3'] = '3. Winnie the Pooh (tt1449283)'  # "+"

In [19]:
data[data['runtime'] == data['runtime'].min()]['original_title']

768    Winnie the Pooh
Name: original_title, dtype: object

# 4. Какова средняя длительность фильмов?

In [20]:
answers['4'] = '2. 110'  # "+"

In [21]:
data['runtime'].mean()

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [22]:
answers['5'] = '1. 107'  # "+"

In [23]:
data['runtime'].median()

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [24]:
answers['6'] = '5. Avatar (tt0499549)'  # "+"

In [25]:
data[data['profit'] == data['profit'].max()]['original_title']

239    Avatar
Name: original_title, dtype: object

# 7. Какой фильм самый убыточный?

In [26]:
answers['7'] = '5. The Lone Ranger (tt1210819)'  # "+"

In [27]:
data[data['profit'] == data['profit'].min()]['original_title']

1245    The Lone Ranger
Name: original_title, dtype: object

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [28]:
answers['8'] = '1. 1478'  # "+"

In [29]:
len(data[data['profit']>0 ])

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [30]:
answers['9'] = '4. The Dark Knight (tt0468569)'  # "+"

In [31]:
year_2008 = data.query('release_year == 2008')
year_2008[year_2008['revenue'] == year_2008['revenue'].max()]['original_title']

599    The Dark Knight
Name: original_title, dtype: object

ВАРИАНТ 2

In [32]:
data[data['release_year'] == 2008].sort_values('revenue', ascending=False).iloc[0]

imdb_id                                                         tt0468569
budget                                                          185000000
revenue                                                        1001921825
original_title                                            The Dark Knight
cast                    Christian Bale|Michael Caine|Heath Ledger|Aaro...
director                                                Christopher Nolan
tagline                                                   Why So Serious?
overview                Batman raises the stakes in his war on crime. ...
runtime                                                               152
genres                                        Drama|Action|Crime|Thriller
production_companies    DC Comics|Legendary Pictures|Warner Bros.|Syncopy
release_date                                                    7/16/2008
vote_average                                                          8.1
release_year                                                         2008
profit                                                          816921825
month                                                                   7
title_length                                                           15
word_count_overview                                                    67
Name: 599, dtype: object

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [33]:
answers['10'] = '5. The Lone Ranger (tt1210819)'  # "+"

In [34]:
data.query('release_year in [2012, 2013, 2014]').sort_values('profit').iloc[0]

imdb_id                                                         tt1210819
budget                                                          255000000
revenue                                                          89289910
original_title                                            The Lone Ranger
cast                    Johnny Depp|Armie Hammer|William Fichtner|Hele...
director                                                   Gore Verbinski
tagline                                           Never Take Off the Mask
overview                The Texas Rangers chase down a gang of outlaws...
runtime                                                               149
genres                                           Action|Adventure|Western
production_companies    Walt Disney Pictures|Jerry Bruckheimer Films|I...
release_date                                                     7/3/2013
vote_average                                                            6
release_year                                                         2013
profit                                                         -165710090
month                                                                   7
title_length                                                           15
word_count_overview                                                    68
Name: 1245, dtype: object

ВАРИАНТ 2

In [35]:
year_2012_2014 = data.query('release_year in [2012, 2013, 2014]')
year_2012_2014[year_2012_2014['profit'] == year_2012_2014['profit'].min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month,title_length,word_count_overview
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090,7,15,68

# 11. Какого жанра фильмов больше всего?

In [36]:
answers['11'] = '3. Drama'  # "+"

In [37]:
sep_count(data['genres']).most_common(1)

[('Drama', 782)]

ВАРИАНТ 2

In [38]:
c = Counter()
for genre in data_genres['genres']:
    c[genre] += 1
c.most_common(1)

[('Drama', 782)]

ВАРИАНТ 3

In [39]:
data_genres['genres'].describe(include=['object'])

count      5107
unique       19
top       Drama
freq        782
Name: genres, dtype: object

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [40]:
answers['12'] = '1. Drama'  # "+"

In [41]:
sep_count(data[data['profit'] > 0]['genres']).most_common(1)

[('Drama', 560)]

ВАРИАНТ 2

In [42]:
data_genres.query('profit > 0')['genres'].describe(include=['object'])

count      3962
unique       18
top       Drama
freq        560
Name: genres, dtype: object

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [43]:
answers['13'] = '5. Peter Jackson'  # "+"

In [44]:
d = {}
index =-1
for row in data['director']:
    index += 1
    for director in row.split('|'):
        if director in d.keys():
            d[director] += data['revenue'].iloc[index]
        else:
            d[director] = data['revenue'].iloc[index]           
directors_ser = pd.Series(d)            
top_directors = directors_ser.sort_values(ascending=False)
top_directors.head(1)

Peter Jackson    6490593685
dtype: int64

ВАРИАНТ 2

In [45]:
director_revenue = data_directors.groupby(['director'])['revenue'].sum()
director_revenue.sort_values(ascending=False).head(1)

director
Peter Jackson    6490593685
Name: revenue, dtype: int64

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [46]:
answers['14'] = '3. Robert Rodriguez'  # "+"

In [47]:
sep_count(data[data.genres.str.contains('Action', na=False)]['director']).most_common(1)

[('Robert Rodriguez', 9)]

ВАРИАНТ 2

In [48]:
data_directors[data_directors.genres.str.contains('Action', na=False)]\
                      .groupby(['director'])['original_title'].count()\
                      .sort_values(ascending=False).head(1)

director
Robert Rodriguez    9
Name: original_title, dtype: int64

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [49]:
answers['15'] = '3. Chris Hemsworth'  # "+"

In [50]:
year_2012 = data[data['release_year'] == 2012]
actors = {}
index = -1
for row in year_2012['cast']:
    index += 1
    for actor in row.split('|'):
        if actor in actors.keys():
            actors[actor] += year_2012['revenue'].iloc[index]
        else:
            actors[actor] = year_2012['revenue'].iloc[index]           
top_actors = pd.Series(actors).sort_values(ascending=False)
top_actors.head(1)

Chris Hemsworth    2027450773
dtype: int64

ВАРИАНТ 2

In [51]:
data_casts.query('release_year == 2012').groupby(['cast'])['revenue'].sum()\
                                        .sort_values(ascending=False).head(1)

cast
Chris Hemsworth    2027450773
Name: revenue, dtype: int64

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [52]:
answers['16'] = '3. Matt Damon'  # "+"

In [53]:
sep_count(data[data['budget']>data['budget'].mean()]['cast']).most_common(1)

[('Matt Damon', 18)]

ВАРИАНТ 2

In [54]:
data_casts[data_casts['budget']>data['budget'].mean()]\
                  .groupby(['cast'])['imdb_id'].count()\
                  .sort_values(ascending=False).head(1)

cast
Matt Damon    18
Name: imdb_id, dtype: int64

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [55]:
answers['17'] = '2. Action'  # "+"

In [56]:
sep_count(data[data.cast.str.contains('Nicolas Cage',na=False)]['genres'])\
                                                           .most_common(1)

[('Action', 17)]

ВАРИАНТ 2

In [57]:
data_genres[data_genres.cast.str.contains('Nicolas Cage',na=False)]\
                            .groupby(['genres'])['imdb_id'].count()\
                            .sort_values(ascending=False).head(1)

genres
Action    17
Name: imdb_id, dtype: int64

# 18. Самый убыточный фильм от Paramount Pictures

In [58]:
answers['18'] = '1. K-19: The Widowmaker (tt0267626)'  # "+"

In [59]:
data[data.production_companies.str.contains('Paramount Pictures', na=False)]\
                                           .sort_values('profit').iloc[0]

imdb_id                                                         tt0267626
budget                                                          100000000
revenue                                                          35168966
original_title                                       K-19: The Widowmaker
cast                    Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...
director                                                  Kathryn Bigelow
tagline                                          Fate has found its hero.
overview                When Russia's first nuclear submarine malfunct...
runtime                                                               138
genres                                             Thriller|Drama|History
production_companies    Paramount Pictures|Intermedia Films|National G...
release_date                                                    7/19/2002
vote_average                                                            6
release_year                                                         2002
profit                                                          -64831034
month                                                                   7
title_length                                                           20
word_count_overview                                                    23
Name: 925, dtype: object

ВАРИАНТ 2

In [60]:
paramaunt = data_studios.query('production_companies == "Paramount Pictures"')
paramaunt[paramaunt['profit'] == paramaunt['profit'].min()]['original_title']

925    K-19: The Widowmaker
Name: original_title, dtype: object

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [61]:
answers['19'] = '5. 2015'  # "+"

In [62]:
year_2015 = data.groupby(['release_year'])
year_2015.sum().sort_values('revenue',ascending=False).head(1)

,budget,revenue,runtime,vote_average,profit,title_length,word_count_overview
release_year,,,,,,,
2015,6780630004,25449202382,13355,755.2,18668572378,1601,5524

# 20. Какой самый прибыльный год для студии Warner Bros?

In [63]:
answers['20'] = '1. 2014'  # "+"

In [64]:
warner = data[data.production_companies.str.contains('Warner Bros', na=False)]
warner_grouped = warner.groupby(['release_year']).sum()
warner_grouped.sort_values(by='profit',ascending=False).head(1)

,budget,revenue,runtime,vote_average,profit,title_length,word_count_overview
release_year,,,,,,,
2014,947600000,3243064519,1576,88.9,2295464519,176,672

ВАРИАНТ 2

In [65]:
pivot = data[data.production_companies.str.contains('Warner Bros', na=False)]\
                                .pivot_table(columns = 'production_companies',
                                             index = 'release_year',
                                             values = 'profit',aggfunc = 'sum',
                                             fill_value=0,
                                             margins=True)
pivot['All'].sort_values(ascending=False).head(2)

release_year
All     24543602472
2014     2295464519
Name: All, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [66]:
answers['21'] = '4. Сентябрь'  # "+"

In [67]:
months = {}
for number in ['1','2','3','4','5','6','7','8','9','10','11','12']:
    months.setdefault(number,data[data.release_date.str.match(number,na=False)]['imdb_id'].count())
months['1'] = months['1'] - months['10'] - months['11'] - months['12']
series_months = pd.Series(months)
series_months.sort_values(ascending=False).head(1)

9    227
dtype: int64

ВАРИАНТ 2

In [68]:
data.groupby(['month'])['imdb_id'].count().sort_values(ascending=False).head(1)

month
9    227
Name: imdb_id, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [69]:
answers['22'] = '2. 450'  # "+"

In [70]:
months['6'] + months['7'] + months['8']

450

ВАРИАНТ 2

In [71]:
summer = data.query("month in ['6', '7', '8']").groupby(['month'])['imdb_id']
summer.count().sum()

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [72]:
answers['23'] = '5. Peter Jackson'  # "+"

In [73]:
sep_count(data[data['month'].isin(['12','1','2'])]['director']).most_common(1)

[('Peter Jackson', 7)]

ВАРИАНТ 2

In [74]:
winter = data_directors.loc[data_directors['month'].isin(['1','12','2'])]
winter_pivot = winter.pivot_table(index = ['month'],
             columns = ['director'],
             values = ['imdb_id'],
             aggfunc = 'count',
             fill_value=0,
             margins=True)
winter_pivot.loc['All'].sort_values(ascending=False).head(2)

         director
imdb_id  All              471
         Peter Jackson      7
Name: All, dtype: int64

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [75]:
answers['24'] = '5. Four By Two Productions'  # "+"

In [76]:
data_studios.groupby(['production_companies'])['title_length'].mean()\
                                .sort_values(ascending=False).head(1)

production_companies
Four By Two Productions    83.0
Name: title_length, dtype: float64

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [77]:
answers['25'] = '3. Midnight Picture Show'  # "+"

In [78]:
(data_studios.groupby(['production_companies'])['word_count_overview'].mean())\
                                         .sort_values(ascending=False).head(1)

production_companies
Midnight Picture Show    175.0
Name: word_count_overview, dtype: float64

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [79]:
answers['26'] = '1. Inside Out, The Dark Knight, 12 Years a Slave'  # "+"

In [80]:
data.sort_values('vote_average', ascending=False)['original_title'].head(18)

599                                   The Dark Knight
118                                      Interstellar
125                                The Imitation Game
9                                          Inside Out
34                                               Room
1183                          The Wolf of Wall Street
128                                         Gone Girl
1191                                 12 Years a Slave
119                           Guardians of the Galaxy
1081    The Lord of the Rings: The Return of the King
1800                                          Memento
370                                         Inception
872                                       The Pianist
138                          The Grand Budapest Hotel
1188                                              Her
28                                          Spotlight
124                                        Big Hero 6
177                            The Fault in Our Stars
Name: original_title, dtype: object

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [81]:
answers['27'] = '5. Daniel Radcliffe & Rupert Grint'  # "+"

In [82]:
combs = [] 
for cast in data.cast.str.split('|'):
    combs.extend(combinations(cast, 2))
pd.Series(combs).value_counts().head(2)

(Daniel Radcliffe, Emma Watson)     8
(Daniel Radcliffe, Rupert Grint)    8
dtype: int64

# Submission

In [83]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '2. Gods and Generals (tt0279111)',
 '3': '3. Winnie the Pooh (tt1449283)',
 '4': '2. 110',
 '5': '1. 107',
 '6': '5. Avatar (tt0499549)',
 '7': '5. The Lone Ranger (tt1210819)',
 '8': '1. 1478',
 '9': '4. The Dark Knight (tt0468569)',
 '10': '5. The Lone Ranger (tt1210819)',
 '11': '3. Drama',
 '12': '1. Drama',
 '13': '5. Peter Jackson',
 '14': '3. Robert Rodriguez',
 '15': '3. Chris Hemsworth',
 '16': '3. Matt Damon',
 '17': '2. Action',
 '18': '1. K-19: The Widowmaker (tt0267626)',
 '19': '5. 2015',
 '20': '1. 2014',
 '21': '4. Сентябрь',
 '22': '2. 450',
 '23': '5. Peter Jackson',
 '24': '5. Four By Two Productions',
 '25': '3. Midnight Picture Show',
 '26': '1. Inside Out, The Dark Knight, 12 Years a Slave',
 '27': '5. Daniel Radcliffe & Rupert Grint'}

In [84]:
# и убедиться что ни чего не пропустил)
len(answers)

27